@import '../../../../styles/app';

.map {
  position: relative;
  height: 600px;
  svg {
    height: 600px;
  }


  @media screen and (max-width: 768px){
    height: 250px;
    svg{
      height: 250px;
    }
  }
}
.stats {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 5% 10%;
}

.mapChart {
  position: relative;
  margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;
}
