@import '../../../../styles/app';


.graphChart {
    position: relative;
    margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;

    @include media-breakpoint-down(md){
        margin-left: -2.25em;
        margin-right: -2.25em;
    }
    
}

.graph {
    position: relative;
    height: 400px;
    svg {
        height: 400px;
    }
}